{% extends "account/accounts_sub.html" %}

{% block title %}Register | GigaMart{% endblock %}

{% block account_content %}
    <div class="col col-12 colo-xs-10 col-sm-10 col-md-6 col-lg-5 col-xl-4 form_div">
        <h2 class="form_title">SignUp</h2>
        <hr>
        <form action="{% url 'accounts:register' %}" method="post" class="accounts_form">
            {% csrf_token %}
            <div class="row">
                <div class="col-6" style="padding-left: 12px;padding-right: 3px">
                    <label for="first_name">First name:</label>
                    <input class="form_inputs" type="text" name="first_name" id="first_name">
                </div>
                <div class="col-6" style="padding-right: 12px;padding-left: 3px">
                    <label for="last_name">Last name:</label>
                    <input class="form_inputs" type="text" name="last_name" id="last_name">
                </div>
            </div>
            <label for="username">Username:</label>
            <input class="form_inputs" type="text" name="username" id="username">
            <label for="email">Email:</label>
            <input class="form_inputs" type="email" name="email" id="email">
            <label for="phone_number">Phone number:</label>
            <input class="form_inputs" type="tel" name="phone_number" id="phone_number">
            <div class="row">
                <div class="col-6" style="padding-left: 12px;padding-right: 3px">
                    <label for="password1">Create Password:</label>
                    <input class="form_inputs" type="password" name="password1" id="password1">
                </div>
                <div class="col-6" style="padding-right: 12px;padding-left: 3px">
                    <label for="password2">Confirm Password:</label>
                    <input class="form_inputs" type="password" name="password2" id="password2">
                </div>
            </div>
            <button type="submit" class="form_buttons">Register</button>
        </form>
        <hr>
        <p style="text-align: center;font-size: 14px;">Have an account?<a href="{% url 'accounts:login' %}">LogIn</a>
        </p>
    </div>
{% endblock %}
