{% extends 'base.html' %}

{% block title %}{{ category.name }} | GigaMart{% endblock %}

{% block main %}
    <style>
        .active {
            background-color: red;
        }
    </style>

    <div class="container" style="margin-top: 100px">
        <div style="width: 100%;padding: 15px;background-color: #6490ff;box-sizing: border-box;border-radius: 10px 10px 0 0;">
            <h3 style="font-size: 20px;color: white;font-weight: 500;margin: 0;">{{ category.name }}</h3>
        </div>
        <div class="container category-container">
            <button class="nav-button left" onclick="moveCard('left')">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/>
                        <path fill="currentColor"
                              d="M7.94 13.06a1.5 1.5 0 0 1 0-2.12l5.656-5.658a1.5 1.5 0 1 1 2.121 2.122L11.122 12l4.596 4.596a1.5 1.5 0 1 1-2.12 2.122l-5.66-5.658Z"/>
                    </g>
                </svg>
            </button>
            <div class="category-cards-wrapper">
                <div class="category-cards">
                    {% for subcategory in subcategories %}
                        <div class="category_card">
                            <div style="flex: 1;">
                                <img src="{{ subcategory.image.url }}" alt="">
                            </div>
                            <div class="category_title_div">
                                <p class="Category_title">
                                    <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button class="nav-button right" onclick="moveCard('right')">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/>
                        <path fill="currentColor"
                              d="M16.06 10.94a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 1 1-2.121-2.122L12.879 12L8.283 7.404a1.5 1.5 0 0 1 2.12-2.122l5.658 5.657Z"/>
                    </g>
                </svg>
            </button>
        </div>
    </div>

    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-3" id="large-screen-filter-form-div">
                <form id="large-screen-filter-form">
                    <!-- Price Range -->
                    <div class="filter-group">
                        <h3 class="filter_section_title">Price Range:</h3>


                        <input type="range" id="large_price_range" name="price_range" min="0" max="500000" step="50"
                               value="500000">
                        <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
                            <input style="display: inline-block;" type="number" id="large_price_min" name="price_min"
                                   placeholder="Min Price" max="500000">
                            <input type="number" id="large_price_max" name="price_max" placeholder="Max Price"
                                   max="500000">
                        </div>
                    </div>

                    <!-- Subcategories -->
                    <div class="filter-group">
                        <h3 class="filter_section_title">Subcategories:</h3>
                        <div id="subcategory-options" class="filter-options subcategories_div">
                            {% for subcategory in subcategories %}
                                <label><input type="checkbox" name="subcategory"
                                              value="{{ subcategory.slug }}"> {{ subcategory.name }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Discount Offer -->
                    <div class="filter-group">
                        <h3 class="filter_section_title">Discount Offer:</h3>
                        <label><input type="checkbox" name="discount" value="1"> Discounted Items</label>
                    </div>

                    <!-- Availability -->
                    <div class="filter-group">
                        <h3 class="filter_section_title">Availability:</h3>
                        <label><input type="checkbox" name="availability" value="in_stock"> In Stock</label>
                    </div>

                    <!-- Warranty Period -->
                    <div class="filter-group">
                        <h3 class="filter_section_title">Warranty Period:</h3>
                        <div class="filter-options">
                            <label><input type="checkbox" name="warranty" value="1"> 1 Year</label>
                            <label><input type="checkbox" name="warranty" value="2"> 2 Years</label>
                            <label><input type="checkbox" name="warranty" value="3"> 3 Years</label>
                        </div>
                    </div>

                    <!-- Arrival -->
                    <div class="filter-group">
                        <h3 class="filter_section_title">Arrival:</h3>
                        <div class="filter-options">
                            <label><input type="checkbox" name="arrival" value="recent"> New Arrival</label>
                            <label><input type="checkbox" name="arrival" value="old"> Older Products</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-3" id="small-screen-filter-form-div"
                 style="display: none">
                <!-- Dropdown button with icon -->
                <button id="filter-toggle-btn" class="filter-toggle-btn"
                        style="background-color: #6490ff; border-radius: 3px; padding: 5px 10px; border: 1px solid white; color: white; width: 100%; display: flex; justify-content: space-between; align-items: center;">
                    <span>Filter Options</span>
                    <i id="toggle-icon" class="fas fa-chevron-down"></i>
                </button>

                <form id="small-screen-filter-form" style="display: none; margin-top: 10px;">
                    <div class="filter-group">
                        <h3 class="filter_section_title">Price Range:</h3>

                        <input type="range" id="small_price_range" name="price_range" min="0" max="500000" step="50"
                               value="500000">
                        <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
                            <input style="display: inline-block;" type="number" id="small_price_min" name="price_min"
                                   placeholder="Min Price" max="500000">
                            <input type="number" id="small_price_max" name="price_max" placeholder="Max Price"
                                   max="500000">
                        </div>
                    </div>

                    <!-- Subcategories -->
                    <div class="filter-group">
                        <h3 class="filter_section_title">Subcategories:</h3>
                        <div id="subcategory-options" class="filter-options subcategories_div">
                            {% for subcategory in subcategories %}
                                <label><input type="checkbox" name="subcategory"
                                              value="{{ subcategory.slug }}"> {{ subcategory.name }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Discount Offer -->
                    <div class="filter-group">
                        <h3 class="filter_section_title">Discount Offer:</h3>
                        <label><input type="checkbox" name="discount" value="1"> Discounted Items</label>
                    </div>

                    <!-- Availability -->
                    <div class="filter-group">
                        <h3 class="filter_section_title">Availability:</h3>
                        <label><input type="checkbox" name="availability" value="in_stock"> In Stock</label>
                    </div>

                    <!-- Warranty Period -->
                    <div class="filter-group">
                        <h3 class="filter_section_title">Warranty Period:</h3>
                        <div class="filter-options">
                            <label><input type="checkbox" name="warranty" value="1"> 1 Year</label>
                            <label><input type="checkbox" name="warranty" value="2"> 2 Years</label>
                            <label><input type="checkbox" name="warranty" value="3"> 3 Years</label>
                        </div>
                    </div>

                    <!-- Arrival -->
                    <div class="filter-group">
                        <h3 class="filter_section_title">Arrival:</h3>
                        <div class="filter-options">
                            <label><input type="checkbox" name="arrival" value="recent"> New Arrival</label>
                            <label><input type="checkbox" name="arrival" value="old"> Older Products</label>
                        </div>
                    </div>
                    <div class="filter-group">
                        <button type="submit" id="apply-filters-btn" class="apply-filter-btn"
                                style="background-color: #6490ff; border-radius: 3px; padding: 5px 10px; border: 1px solid white; color: white; width: 100%;">
                            Apply Filters
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">
                <div class="row" id="product-list-div">
                    {% for item in products %}
                        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3" style="padding: 0 5px">
                            <div class="grid_product_card" style="width: 100%!important;">
                                <div class="image_div" style="height: 50%; width: 100%; box-sizing: border-box">
                                    <img src="{{ item.main_image.url }}" alt="{{ item.name }}_image"/>
                                </div>
                                <div class="details_div">
                                    <p class="product_title">
                                        <a href="#">{{ item.name }}</a>
                                    </p>
                                    <p class="product_price">
                                        KES <span>{{ item.price }}</span>
                                        {% if item.discount > 0 %}
                                            | <span>{{ item.discount }}%</span>
                                        {% endif %}
                                    </p>
                                    <p style="text-align: center; margin: 4px 0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                             viewBox="0 0 15 15">
                                            <path fill="currentColor"
                                                  d="M9.875 7.5a2.375 2.375 0 1 1-4.75 0a2.375 2.375 0 0 1 4.75 0"/>
                                        </svg>
                                        {% if item.items_remaining > 20 %}
                                            <span style="color: green">Available</span>
                                        {% elif item.items_remaining > 0 %}
                                            <span style="color: orange">{{ item.items_remaining }} remaining</span>
                                        {% else %}
                                            <span style="color: red">Out of stock</span>
                                        {% endif %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                             viewBox="0 0 15 15">
                                            <path fill="currentColor"
                                                  d="M9.875 7.5a2.375 2.375 0 1 1-4.75 0a2.375 2.375 0 0 1 4.75 0"/>
                                        </svg>
                                    </p>
                                    <div class="product_card_basket_and_later_div">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                  d="M12.001 4.529a6 6 0 0 1 8.242.228a6 6 0 0 1 .236 8.236l-8.48 8.492l-8.478-8.492a6 6 0 0 1 8.48-8.464"/>
                                        </svg>
                                        <div class="no_items_to_add_div">
                                            <button class="product_cart_decrease_items_button">+</button>
                                            <input class="product_cart_items_to_add_no" type="number" value="1"/>
                                            <button class="product_cart_increase_items_button">-</button>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                                            <path fill="currentColor"
                                                  d="m2.449 14.398l.447-.224zm10.102 0l.447.224zM.703 6h13.594V5H.703zM14 5.703v.439h1v-.439zM12.386 14H2.614v1h9.772zM1 6.142v-.439H0v.439zm1.896 8.032A17.96 17.96 0 0 1 1 6.142H0c0 2.944.685 5.847 2.002 8.48zM2.614 14c.12 0 .229.068.282.174l-.894.448a.69.69 0 0 0 .612.378zm9.49.174a.32.32 0 0 1 .282-.174v1c.26 0 .496-.146.612-.378zM14 6.142c0 2.788-.65 5.538-1.896 8.032l.894.448A18.96 18.96 0 0 0 15 6.142zM14.297 6A.297.297 0 0 1 14 5.703h1A.703.703 0 0 0 14.297 5zM.703 5A.703.703 0 0 0 0 5.703h1A.297.297 0 0 1 .703 6zm3.226.757l3-5L6.07.243l-3 5zm4.142-5l3 5l.858-.514l-3-5zM7 7v5h1V7zm-2 3h5V9H5z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if products.paginator.num_pages > 1 %}
                        <div class="pagination">
                            <!-- First and Previous buttons, disabled if there's no previous page -->
                            {% if products.has_previous %}
                                <button value="1" class="pagination-link">
                                    First
                                </button>
                                <button value="{{ products.previous_page_number }}" class="pagination-link">
                                    Previous
                                </button>
                            {% else %}
                                <button disabled class="pagination-link">First</button>
                                <button disabled class="pagination-link">Previous</button>
                            {% endif %}

                            <!-- Center pagination buttons: previous page, current page, and next page -->
                            <div class="pagination-center">
                                {% if products.number > 1 %}
                                    <button value="{{ products.number|add:"-1" }}"
                                            class="pagination-link">{{ products.number|add:"-1" }}</button>
                                {% else %}
                                    <button disabled class="pagination-link">-</button>
                                {% endif %}

                                <!-- Current page, highlighted as active -->
                                <button value="{{ products.number }}"
                                        class="pagination-link active">{{ products.number }}</button>

                                {% if products.number < products.paginator.num_pages %}
                                    <button value="{{ products.number|add:"1" }}"
                                            class="pagination-link">{{ products.number|add:"1" }}</button>
                                {% else %}
                                    <button disabled class="pagination-link">-</button>
                                {% endif %}
                            </div>

                            <!-- Next and Last buttons, disabled if there's no next page -->
                            {% if products.has_next %}
                                <button value="{{ products.next_page_number }}" class="pagination-link">Next</button>
                                <button value="{{ products.paginator.num_pages }}" class="pagination-link">Last</button>
                            {% else %}
                                <button disabled class="pagination-link">Next</button>
                                <button disabled class="pagination-link">Last</button>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}