{% extends 'base.html' %}

{% load custom_filters %}

{% block main %}
    <div class="container product_page" style="margin-top: 80px">
        <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-8" style="margin: auto;">
            <div class="row">
                <div class="col-12 col-md-6 product_page_images">
                    <div id="main_image_div">
                        <img id="main_image" src="{{ product.main_image.url }}" alt="{{ product.name }}">
                    </div>
                    <div class="product_other_images"
                         style="display: flex; flex-direction: row; gap: 4px; margin-top: 5px;">
                        {% for image in product.additional_images.all %}
                            <div class="mini_image_divs" onclick="swapImage(this)">
                                <img src="{{ image.image.url }}" alt="{{ product.name }}">
                            </div>
                        {% empty %}
                            <p>No images found.</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-md-6 details_div">
                    <h3 style="font-size: 20px;font-weight: 500;line-height: 25px;max-height: 75px;overflow: hidden">
                        {{ product.name }}
                    </h3>
                    <p style="font-size: 16px;">
                        {% if product.description|length > 330 %}
                            {{ product.description|slice:":330" }}...
                        {% else %}
                            {{ product.description }}
                        {% endif %}
                    </p>
                    <p style="font-size: 18px;">KES <span style="font-weight: bold;">{{ product.price }}</span></p>
                    <p style="font-size: 15px;font-weight: 500;color: green;">
                        {% if product.items_remaining > 0 %}Available{% else %}Out of Stock{% endif %}
                    </p>
                    <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;margin-top: auto;">
                        <div class="product_page_add_to_cart_div">
    <input type="number" id="quantity-input" style="max-width: 80px;" min="1" value="1">
    <button id="add-to-cart-button" data-product-id="{{ product.id }}">Add to Cart
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="20px" height="20px" style="margin-left: 5px;">
            <path
                fill="currentColor"
                d="m2.449 14.398l.447-.224zm10.102 0l.447.224zM.703 6h13.594V5H.703zM14 5.703v.439h1v-.439zM12.386 14H2.614v1h9.772zM1 6.142v-.439H0v.439zm1.896 8.032A17.96 17.96 0 0 1 1 6.142H0c0 2.944.685 5.847 2.002 8.48zM2.614 14c.12 0 .229.068.282.174l-.894.448a.69.69 0 0 0 .612.378zm9.49.174a.32.32 0 0 1 .282-.174v1c.26 0 .496-.146.612-.378zM14 6.142c0 2.788-.65 5.538-1.896 8.032l.894.448A18.96 18.96 0 0 0 15 6.142zM14.297 6A.297.297 0 0 1 14 5.703h1A.703.703 0 0 0 14.297 5zM.703 5A.703.703 0 0 0 0 5.703h1A.297.297 0 0 1 .703 6zm3.226.757l3-5L6.07.243l-3 5zm4.142-5l3 5l.858-.514l-3-5zM7 7v5h1V7zm-2 3h5V9H5z"
            />
        </svg>
    </button>
</div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z"/>
                        </svg>
                    </div>

                </div>
            </div>
            <div class="row more_details_section" style="margin-top: 40px;">
                <div class="col-4 more_details_section_title active" id="description_div"
                     onclick="showSection('product_description', 'description_div')">
                    <h3>Description</h3>
                </div>
                <div class="col-4 more_details_section_title" id="features_div"
                     onclick="showSection('product_key_features', 'features_div')">
                    <h3>Key Features</h3>
                </div>
                <div class="col-4 more_details_section_title" id="specifications_div"
                     onclick="showSection('product_specifications', 'specifications_div')">
                    <h3>Specifications</h3>
                </div>
            </div>
            <div class="row" id="product_description" style="margin-top: 10px;">
                <p>{{ product.description }}</p>
            </div>
            <div class="row hidden" id="product_key_features" style="margin-top: 10px;">
                <ul>
                    {% for feature in product.key_features %}
                        <li>{{ feature }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row hidden" id="product_specifications" style="margin-top: 10px;">
                <ul>
                    {% for spec, value in product.specifications.items %}
                        <li>
                            <strong>{{ spec }}:</strong> {{ value|render_specification|safe }}
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    
    <script>
    document.getElementById('add-to-cart-button').addEventListener('click', function() {
        const productId = this.getAttribute('data-product-id');
        const quantity = document.getElementById('quantity-input').value;
        console.log(productId,quantity)

        fetch("{% url 'basket:basket_add' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                productid: productId,
                productqty: quantity
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('basket-qty').innerText = data.basket_qty;
            } else {
                alert('Failed to add product');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred');
        });
    });
</script>
{% endblock %}